.manage-inventory {
  width: 80%;
  margin: 6rem auto 0;
}

.manage-inventory-header {
  display: flex;
  justify-content: space-between;
}

#search {
  padding: 0.5rem;
  border: thin solid lightgray;
  border-radius: 5px;
  outline: none;
}

.manage-inventory-header button {
  padding: 0.5rem 1rem;
  color: var(--clr-2);
  background-color: var(--bgc-1);
  transition: 0.3s;
}

.loader {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.empty-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.empty-items-container p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.empty-items-container button {
  padding: 0.5rem 1.5rem;
  color: var(--clr-2);
  background-color: var(--bgc-1);
  transition: 0.3s;
}

.empty-items-container button:hover,
.manage-inventory-header button:hover {
  background-color: var(--clr-3);
  color: black;
}

.items-table {
  margin-top: 2rem;
}

.items-table thead tr,
.items-table tbody tr {
  text-align: center;
  transition: 3rem;
  font-weight: 500;
}

.items-table thead tr:hover,
.items-table tbody tr:hover {
  background-color: var(--clr-2);
}

#th-name,
#td-name {
  cursor: pointer;
  text-align: left !important;
}

.items-table .buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.items-table .buttons button {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  font-size: 1.1rem;
  border-radius: 50%;
}

.items-table .buttons .edit-btn {
  background-color: var(--clr-1);
}

.items-table .buttons .delete-btn {
  background-color: var(--clr-3);
  color: var(--clr-2);
}

.inventory-status {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: var(--bgc-1);
  color: white;
  position: fixed;
  width: 80%;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding: 1rem 0;
}
