.App {
  text-align: center;
}

.scroll-top {
  position: fixed;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--bgc-1);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
}

.scroll-top img {
  width: 100%;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(210deg)
    brightness(107%) contrast(101%);
}
