@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.Container {
  width: 80%;
  margin: 0 auto;
}

:root {
  --clr-1: #bce29e;
  --clr-2: #a5f1e9;
  --clr-3: lightcoral;
  --bgc-1: #16213e;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*------Media Queries for Small devices-------*/

@media screen and (max-width: 668px) {
  .Container {
    width: 90%;
  }
}
